In [1]:
import pandas as pd
import numpy as np
import re
import json

In [2]:
fivethirtyeight = pd.read_csv('538.csv')
fivethirtyeight.head()

   proba      teama  probx         teamb  probb
0   0.24      Qatar   0.26       Ecuador   0.50
1   0.63    England   0.25          Iran   0.12
2   0.22    Senegal   0.27   Netherlands   0.51
3   0.45        USA   0.29         Wales   0.26
4   0.72  Argentina   0.20  Saudi Arabia   0.08

In [3]:
results = pd.read_csv('results.csv')
results.head()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,Group stage,1.0,Sun,2022-11-20,19:00 (13:00),Qatar,0.3,0–2,1.2,Ecuador,67372.0,Al Bayt Stadium (Neutral Site),Daniele Orsato,Match Report,NaN
1,Group stage,1.0,Mon,2022-11-21,16:00 (10:00),England,2.1,6–2,1.4,Iran,45334.0,Khalifa International Stadium (Neutral Site),Raphael Claus,Match Report,NaN
2,Group stage,1.0,Mon,2022-11-21,19:00 (13:00),Senegal,0.9,0–2,0.7,Netherlands,41721.0,Al Thumama Stadium (Neutral Site),Wilton Sampaio,Match Report,NaN
3,Group stage,1.0,Mon,2022-11-21,22:00 (16:00),United States,0.8,1–1,1.5,Wales,43418.0,Ahmed bin Ali Stadium (Neutral Site),Abdulrahman Ibrahim Al Jassim,Match Report,NaN
4,Group stage,1.0,Tue,2022-11-22,13:00 (07:00),Argentina,2.2,1–2,0.1,Saudi Arabia,88012.0,Lusail Iconic Stadium (Neutral Site),Slavko Vinčič,Match Report,NaN

In [4]:
df = fivethirtyeight.join(results)
def winnera(score, penalties=True):
    if isinstance(score, float) and np.isnan(score):
        return False
    scores = score.split(' ')
    if len(scores) == 1:
        return int(score.split('–')[0]) > int(score.split('–')[1])
    if penalties == False:
        return False
    segs = re.split(r'(\d+)', score)
    return int(segs[1]) > int(segs[7])

def winnerb(score, penalties=True):
    if isinstance(score, float) and np.isnan(score):
        return False
    scores = score.split(' ')
    if len(scores) == 1:
        return int(score.split('–')[0]) < int(score.split('–')[1])
    if penalties == False:
        return False
    segs = re.split(r'(\d+)', score)
    return int(segs[1]) < int(segs[7])

def tie(score, penalties=True):
    if isinstance(score, float) and np.isnan(score):
        return False
    scores = score.split(' ')
    if len(scores) == 1:
        return int(score.split('–')[0]) == int(score.split('–')[1])
    if penalties == False:
        return True
    return False

df['proba_win'] = df['proba'] * df['Score'].apply(winnera)
df['probb_win'] = df['probb'] * df['Score'].apply(winnerb)
df['probx_win'] = df['probx'] * df['Score'].apply(tie)
print(df['proba_win'].sum() + df['probb_win'].sum() + df['probx_win'].sum())
df[['teama', 'teamb', 'proba_win', 'probx_win', 'probb_win', 'Score']].iloc[57]

27.41

teama        Netherlands
teamb          Argentina
proba_win            0.0
probx_win            0.0
probb_win           0.58
Score        (3) 2–2 (4)
Name: 57, dtype: object

In [9]:
def goals(score):
    if isinstance(score, float) and np.isnan(score):
        return 0
    scores = score.split(' ')
    if len(scores) == 1:
        return int(score.split('–')[0]) + int(score.split('–')[1])
    segs = re.split(r'(\d+)', score)
    return int(segs[3]) + int(segs[5])

df['Score'].apply(goals).sum()

163

In [11]:
def is_close(score):
    if isinstance(score, float) and np.isnan(score):
        return 0
    scores = score.split(' ')
    if len(scores) == 1:
        return abs(int(score.split('–')[0]) - int(score.split('–')[1])) < 2
    return True

df['Score'].apply(is_close).sum()

37

In [5]:
exactas = pd.read_csv('301060.csv')
exactas.columns = ['proba', 'teama', 'probx', 'teamb', 'probb']
exactas.head()
exactas['proba'] /= 100
exactas['probx'] /= 100
exactas['probb'] /= 100
exactas

    proba          teama  probx         teamb  probb
0    0.13          Qatar   0.21       Ecuador   0.66
1    0.68        England   0.20          Iran   0.12
2    0.15        Senegal   0.21   Netherlands   0.64
3    0.47  United States   0.29         Wales   0.23
4    0.79      Argentina   0.15  Saudi Arabia   0.05
..    ...            ...    ...           ...    ...
59   0.37        England   0.26        France   0.37
60   0.57      Argentina   0.23       Croatia   0.20
61   0.44         France   0.29       Morocco   0.27
62   0.28        Croatia   0.29       Morocco   0.43
63   0.38      Argentina   0.26        France   0.37

[64 rows x 5 columns]

In [6]:
df = exactas.join(results)
df['proba_win'] = df['proba'] * df['Score'].apply(lambda score: winnera(score, penalties=False))
df['probb_win'] = df['probb'] * df['Score'].apply(lambda score: winnerb(score, penalties=False))
df['probx_win'] = df['probx'] * df['Score'].apply(lambda score: tie(score, penalties=False))
print(df['proba_win'].sum() + df['probb_win'].sum() + df['probx_win'].sum())
df[['teama', 'teamb', 'proba_win', 'probx_win', 'probb_win', 'Score']].iloc[57]

28.55

teama        Netherlands
teamb          Argentina
proba_win            0.0
probx_win           0.24
probb_win            0.0
Score        (3) 2–2 (4)
Name: 57, dtype: object

In [12]:
pd.concat([results['Home'], results['Away']]).unique()

array(['Qatar', 'England', 'Senegal', 'United States', 'Argentina',
       'Denmark', 'Mexico', 'France', 'Morocco', 'Germany', 'Spain',
       'Belgium', 'Switzerland', 'Uruguay', 'Portugal', 'Brazil', 'Wales',
       'Netherlands', 'Tunisia', 'Poland', 'Japan', 'Croatia', 'Cameroon',
       'Korea Republic', 'Ecuador', 'Iran', 'Australia', 'Saudi Arabia',
       'Canada', 'Costa Rica', 'Ghana', 'Serbia'], dtype=object)

In [22]:
names = {
    'Qatar': 'qat',
    'Ecuador': 'ecu',
    'England': 'eng',
    'Senegal': 'sen',
    'United States': 'usa',
    'Argentina': 'arg',
    'Denmark': 'den',
    'Mexico': 'mex',
    'France': 'fra',
    'Morocco': 'mor',
    'Germany': 'ger',
    'Spain': 'spa',
    'Belgium': 'bel',
    'Switzerland': 'swi',
    'Uruguay': 'uru',
    'Portugal': 'por',
    'Brazil': 'bra',
    'Wales': 'wal',
    'Netherlands': 'ned',
    'Tunisia': 'tun',
    'Poland': 'pol',
    'Japan': 'jap',
    'Croatia': 'cro',
    'Cameroon': 'cam',
    'Korea Republic': 'kor',
    'Ecuador': 'ecu',
    'Iran': 'ira',
    'Australia': 'aus',
    'Saudi Arabia': 'sau',
    'Canada': 'can',
    'Costa Rica': 'cos',
    'Ghana': 'gha',
    'Serbia': 'ser',
}

def read_oddspedia(f):
    if f == 'arg-fra': return None
    with open(f'oddspedia/{f}.json', 'r') as fp:
        data = json.loads(fp.read())['data']['prematch'][0]['periods'][0]['odds']
    series = {}
    for row in data:
        p1, p2, p3 = 1/float(row['o1']), 1/float(row['o2']), 1/float(row['o3'])
        series[f'{row["bookie_slug"]}_proba'] = p1/(p1+p2+p3)
        series[f'{row["bookie_slug"]}_probx'] = p2/(p1+p2+p3)
        series[f'{row["bookie_slug"]}_probb'] = p3/(p1+p2+p3)
    return pd.Series(series)

oddspedia = results.apply(lambda row: read_oddspedia(f'{names[row["Home"]]}-{names[row["Away"]]}'), axis=1)
oddspedia

,20bet_proba,20bet_probb,20bet_probx,31bet_proba,31bet_probb,31bet_probx,bc-game-sport_proba,bc-game-sport_probb,bc-game-sport_probx,bet365_proba,...,jackbit_probx,lilibet_proba,lilibet_probb,lilibet_probx,mystake_proba,mystake_probb,mystake_probx,weltbet_proba,weltbet_probb,weltbet_probx
0,0.267639,0.421414,0.310946,0.266984,0.422531,0.310486,0.277595,0.418786,0.303620,0.263158,...,0.310486,0.240083,0.447428,0.312489,0.266984,0.422531,0.310486,0.265866,0.425386,0.308748
1,0.691932,0.097150,0.210918,0.694727,0.096108,0.209165,0.695410,0.095967,0.208623,0.695688,...,0.209165,0.697211,0.093625,0.209163,0.694727,0.096108,0.209165,0.731712,0.059909,0.208379
2,0.161704,0.576132,0.262164,0.160690,0.578674,0.260636,0.166680,0.572038,0.261282,0.171203,...,0.260636,0.155171,0.574874,0.269955,0.160690,0.578674,0.260636,0.159758,0.573980,0.266263
3,0.384566,0.303286,0.312148,0.385307,0.302484,0.312210,0.392099,0.299201,0.308700,0.391244,...,0.312210,0.387031,0.294605,0.318364,0.385307,0.302484,0.312210,0.393056,0.296304,0.310641
4,0.851658,0.039105,0.109237,0.856890,0.037633,0.105478,0.857421,0.037265,0.105314,0.848285,...,0.105478,0.846386,0.040697,0.112917,0.856890,0.037633,0.105478,0.860071,0.038531,0.101398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,0.344995,0.347486,0.307519,0.345255,0.347730,0.307015,0.343822,0.349962,0.306216,0.344161,...,0.307015,0.344161,0.350535,0.305304,0.345255,0.347730,0.307015,0.324808,0.375759,0.299433
60,0.478749,0.216731,0.304521,0.480280,0.215592,0.304127,0.481976,0.215283,0.302741,0.490302,...,0.304127,0.486542,0.202070,0.311387,0.480280,0.215592,0.304127,0.480782,0.209036,0.310182
61,0.601550,0.150388,0.248062,0.603886,0.149348,0.246766,0.608079,0.145571,0.246350,0.615021,...,0.246766,0.604618,0.138665,0.256717,0.603886,0.149348,0.246766,0.605214,0.148045,0.246741
62,0.407369,0.313157,0.279474,0.398547,0.311029,0.290424,0.406863,0.314819,0.278318,0.404120,...,0.290424,0.401964,0.320208,0.277828,0.398547,0.311029,0.290424,0.405904,0.311193,0.282903
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df = oddspedia.join(results)
df['proba_win'] = df['bet365_proba'] * df['Score'].apply(lambda score: winnera(score, penalties=False))
df['probb_win'] = df['bet365_probb'] * df['Score'].apply(lambda score: winnerb(score, penalties=False))
df['probx_win'] = df['bet365_probx'] * df['Score'].apply(lambda score: tie(score, penalties=False))
print(df['proba_win'].sum() + df['probb_win'].sum() + df['probx_win'].sum())
df[['Home', 'Away', 'proba_win', 'probx_win', 'probb_win', 'Score']].iloc[57]

26.241170994477244

Home         Netherlands
Away           Argentina
proba_win            0.0
probx_win       0.305792
probb_win            0.0
Score        (3) 2–2 (4)
Name: 57, dtype: object